	
.calendar-wrapper .calendar-col-1, .calendar-wrapper .calendar-col-5, .calendar-wrapper .calendar-col-7{
	float:left;
}
.calendar-wrapper .calendar-col-1{
	width:14.28%;
}
.calendar-wrapper .calendar-col-5{
	width:71.4%;
}
.calendar-wrapper .calendar-col-7{
	width:100%;
}

.calendar-wrapper .calendar-header > div{
	padding: 5px 0;
	background-color:#ddd;
}
.calendar-wrapper #calendar-previous{
	text-align:left;
}
.calendar-wrapper #calendar-previous > span{
	left:8px;
}
.calendar-wrapper #calendar-next{
	text-align:right;
}
.calendar-wrapper #calendar-next > span{
	right:8px;
}
.calendar-wrapper .calendar-month {
	text-align: center;
}

.calendar-wrapper .calendar-weekdays > div{
	text-align: center;
	padding:5px 0;
	background-color:#ddd;
	font-weight: bold;
}

.calendar-wrapper .calendar-days > .row > div{
	padding:1px;
	border-top: 1px solid #aaa;
	border-left:1px solid #aaa;
	text-align: left;
	cursor:pointer;
}
.calendar-wrapper .calendar-days > .row > div.today {
	font-weight:bold;
	color: #508ED4;
}

.calendar-wrapper .calendar-days >.row:last-child div{
	border-bottom:1px solid #aaa;
}
.calendar-wrapper .calendar-days > .row > div:last-child{
	border-right:1px solid #aaa;
}

.calendar-wrapper .calendar-day-item-number,
.calendar-wrapper .calendar-day-item-events{
	border:0 !important;
	font-size: 0.8em;
	width:100%;
	float:left;
}
.calendar-wrapper .calendar-day-item-events{
	height:3em;
	padding-top:7px;
	font-weight: normal;
	color: #666;
}

.calendar-wrapper .calendar-day-details .calendar-selected-date{
	padding-left:0px;
}

.calendar-wrapper .calendar-day-details .calendar-day-details-item {
	margin-bottom: 15px;	
	padding-left:15px;
}

.calendar-wrapper .calendar-day-details-item h2{
	margin-top:0;
	font-size: 1.2em;
	text-decoration: underline;
}

.calendar-wrapper .selected {
	background-color:#eaeaea;
	border:1px solid #999 !important;
	padding-bottom:0px !important;
}
.calendar-wrapper .event{
	background-color:rgba(128,169,227,0.25);
}

.calendar-wrapper .closed {
	color:#999;
	background-color:#e8e8e8;
}
.calendar-wrapper .completed {
	background-color:#73de9e;
}
.calendar-wrapper .current {
	background-color:#f74552;
}
.calendar-wrapper .noworkingday{
	background-color:#ddd;
}
.calendar-wrapper .nomonthday{
	background-color:#ddd;
	color: #666;
}
.calendar-wrapper .calendar-day-details{
	margin-top:15px;
}


